# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.Python

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
*.log
/staticfiles/
/media/
local_settings.py

# Variables de entorno
.env
.env.local
.env.*.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Claude Code
.claude/
.vercel
.env*
!.env.example
